<div class="card">
    <form (ngSubmit)="UpdateProduct()">
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><label>serial No.</label></td>
                            <td><input type="text" value="{{road.productId}}"  name="p_id" [(ngModel)]="productItem.productId"></td>
                        </tr>
                        <tr>
                            <td><label>Road Name</label></td>
                            <td><input type="text"  value="{{road.roadName}}" name="p_name" [(ngModel)]="productItem.roadName"></td>
                        </tr>
                        <tr>
                            <td><label>Issue Related to Road</label></td>
                            <td><input type="text" value="{{road.issue}}" name="p_code" [(ngModel)]="productItem.issue"></td>
                        </tr>
                        <tr>
                            <td><label>Whether accident prone area?</label></td>
                            <td><input type="text" value="{{road.accidentPornArea}}" name="p_releasedate" [(ngModel)]="productItem.accidentPornArea"></td>
                        </tr>
                        <tr>
                            <td><label>Rate of accidents out of 5</label></td>
                            <td><input type="text" value="{{road.rateOfAccident}}" name="p_description" [(ngModel)]="productItem.rateOfAccident"></td>
                        </tr>
                        <tr>
                            <td><label>Complainer Name</label></td>
                            <td><input type="text" value="{{road.complainerName}}" name="p_price" [(ngModel)]="productItem.complainerName"></td>
                        </tr>
                        <!-- <tr>
                            <td><label>Phone number</label></td>
                            <td><input type="text" name="p_starrating" [(ngModel)]="phoneNumber"></td>
                        </tr> -->
                        <tr>
                            <td><label> Upload an Image of your complaint</label></td>
                            <td><input type="text" value="{{road.imageUrl}}" name="p_img" [(ngModel)]="productItem.imageUrl"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Submit"></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

