<div class="login-box">
    <div class="py-5">
        <div class="row">
          <div class="col-md-10 mx-auto">
           <span class="anchor" id="formLogin"></span>

           <div class="card-rounded-0">
            <img class="img-kerala" src="https://upload.wikimedia.org/wikipedia/commons/4/46/Kerala_Government_Emblem.png" alt="ImageUrl">
            <h3> GOVERNMENT OF KERALA </h3>
           
               <div class="card-body">
               
                   <div class="form">
                       <div class="form-group">
                          <h1>Applied..!</h1>
                         </div>
                         <br>
                         <br>
                         
                        
                         <div class="form-group">
                         
                          <h6>The details regarding the Tender and its Instructions have been sent to the corresponding e-mail address. </h6>
                         </div>
                        <div class="home">
                            <a class="nav-link " routerLink="/home" routerLinkActive="active">Go to home</a>
                        </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
  </div>
  <footer class="bg-light py-5">
    <div class="container1"><div class="small text-center text-muted">Copyright © 2020 - WWW.OurRoads.COM</div></div>
  </footer>
</div>

